.footer-basic-centered {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;
    padding: 0px;
    color: #8f9296;

    @include breakpoint(medium) {
    padding: 45px;
  };
}
.footer-basic-centered a{
  color:white;
  padding:4px;
}
.footer-links{
  list-style: none;
}
.footer-links-li{
  display: inline;
}
.footer-links-li-ico{
  display: inline;
  margin-left: 2px;
}

footer{
position:fixed;
bottom:0;
}
